<h1>What are you looking for?</h1>
<form action="/" method="POST">
    <fieldset>
        <legend>Gender</legend>
        <label for="men">Men</label>
        <input id="men" type="radio" name="gender" value="men">
        <label for="women">Women</label>
        <input id="women" type="radio" name="gender" value="women">
    </fieldset>
    <fieldset>
        <legend>Sexuality</legend>
        <label for="straight">Straight</label>
        <input id="straight" type="radio" name="sexuality" value="straight">
        <label for="gay">Gay</label>
        <input id="gay" type="radio" name="sexuality" value="straight">
        <label for="bi">Bi-sexual</label>
        <input id="bi" type="radio" name="sexuality" value="straight">
    </fieldset>
    <input type="submit" value="submit">
</form>