<!doctype html>

<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="homeSecond">
  <header>
   
    

  </header>
  <main >
    <h1>Welcome to <span>Luvely</span></h1>


   
    <form action="/login" class="submitButtonLogin">
      <input class="next" type="submit" value="Login >" >
    </form>
    

   
     
  </main> 
</body>