<!doctype html>

<html lang="en">

<head>
    <%- include('./components/head') %>
    <title>homeSecond</title>
</head>

<body class="homeSecond">
  
  <header>

  </header>

  <main>

    <h1>Welcome to <span> Luvely </span> </h1>

  </main> 

  <footer>

    <a href="/login">
    <p>login</p> <img class="pijltjerechts" src="../static/images/pijltjerechts.png" alt="">
    <img src="../static/images/footer.knop.png" alt="Footer knop">
    </a>

  </footer>

</body>