<!doctype html>


<body>
<h1> Results: </h1>

<a href="/filter">Add filters</a>

<% for (var index = 0; index < data.length; index++) { %>

  <section>
    <h2> <%= data[index].firstName %> </h2>
    <p> <%= data[index].sexuality %> </p>
  </section>
<% } %>

</body>
