<!doctype html>

<h1> Movies </h1>
<% for (var index = 0; index < movies.length; index++) {%>
  <h2>
    <a href=""> <%= movies[index].title %> </a>
  </h2>
  <p> <%= movies[index].plot %> </p>
<% } %>
