<!doctype html>


<body>

<h1> Movies </h1>
<% for (var index = 0; index < movies.length; index++) { %>
  <h2>
    <a href=""> <%= movies.title %> </a>
  </h2>
  <p> <%= movies.plot %> </p>
<% } %>
</body>