<!doctype html>

<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <header>
    <!-- <button id="backbutton" href="" ></button> -->
    <img id="logo" src="../static/images/logo.png" alt="logo luvely">

  </header>
  <main class="normalmain">
      <h1>Login</h1>
      <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
      
  </main> 
</body>