<!doctype html>

<html lang="en">

<head>
    <%- include('./components/head') %>
    <title>Login</title>
</head>

<body class="login">

  <header>

    <img class="logo" src="../static/images/logo.png" alt="logo luvely">

  </header>

  <main>

    <div>
    <h1 class="title">Login</h1>
    <p class="sidetitle"><a href="/register">Register</a></p> 
    </div>

    <form method="POST" action="/login">
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email" required>
      <label for="password">Wachtwoord: </label>
      <input type="password" name="password" id="password" required>
      <img src="../static/images/footer-knop.png" alt="Footer knop">
      <input class='loginbutton' type="submit" value="login">
    </form>

    <img class="pijltjerechts" src="../static/images/pijltjerechts.png" alt="">
      
  </main> 
</body>