<!doctype html>

<html lang="en">

<head>
    <%- include('./components/head') %>
    <title>register</title>
</head>

<body class="register">

    <header>

        <img class="logo" src="../static/images/logo.png" alt="logo luvely">
    
    </header>

    <main>
        <div>
        <h1 class="title">Register</h1>
        <p class="sidetitle"><a href="/login">Login</a></p> 
        </div>

        <form method="POST" action="/register">

            <label for="firstname">First name:</label>
            <input type="text" name="firstname" id="firstname" required>

            <label for="lastname">Last name: </label>
            <input type="text" name="lastname" id="lastname" required>

            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Wachtwoord: </label>
            <input type="password" name="password" id="password" required>

            <p class="labeltitle">Gender:</p>

            <div>
                <input class='radio' type="radio" id="male" name="gender" value="male">
                <label for="male" class="label">Male</label>

                <input class='radio' type="radio" id="female" name="gender" value="female">
                <label for="female" class="label">Female</label>

                <input class='radio' type="radio" id="other" name="gender" value="other">
                <label for="other" class="label">Other</label>
            </div>

            <p class="labeltitle">Sexuality:</p>

            <div>
                <input class='radio' type="radio" id="straight" name="sexuality" value="straight">
                <label for="straight" class="label">Straight</label>

                <input class='radio' type="radio" id="gay" name="sexuality" value="gay">
                <label for="gay" class="label">Gay</label>

                <input class='radio' type="radio" id="bi" name="sexuality" value="bi">
                <label for="bi" class="label">Bisexual</label>
            </div>

            <img src="../static/images/footer.knop.png" alt="Footer knop">
            <input class='registerbutton' type="submit" value="register">
        </form>

        <img class="pijltjerechts" src="../static/images/pijltjerechts.png" alt="">
    </main>

    <!-- <main>
        <form action="/register" method="POST" class="form-register">
            <fieldset class="register-1">
                <legend>Welcome!</legend>
                <p>First, we would like to have some contact information</p>

                <div class="invoer-veld">
                    <input type="text" id="username" name="username" required>
                    <label for="username" class="labelAnimation">
                        <span class="spanAnimation">Gebruikernaam</span>
                    </label>
                </div>

                <div class="invoer-veld">
                    <input type="email" id="email" name="email" required>
                    <label for="email" class="labelAnimation">
                        <span class="spanAnimation">E-mail</span>
                    </label>
                </div>

                <div class="invoer-veld">
                    <input type="password" name="password" id="password" required>
                    <label for="password" class="labelAnimation">
                        <span class="spanAnimation">Wachtwoord</span>
                    </label>
                </div>
            </fieldset>
            <fieldset class="register-2">
                <legend>May we have acces to your location?</legend>
                <p>Your location will only be used to find matches close to you.</p>
                <div class="grid-column">
                    <label for="giveacces" class="container">Yes, give acces
                        <input type="radio" id="giveacces" name="locationAcces">
                        <span class="custom-radio-btn"></span>
                    </label>
                    <label for="denyacces" class="container">No, I'd rather not
                        <input type="radio" id="denyacces" name="locationAcces">
                        <span class="custom-radio-btn"></span>
                    </label>
                </div>
            </fieldset>

            <fieldset class="register-3">
                <legend>We would like to know a bit more about you</legend>
                <h2>Gender</h2>
                <div class="grid-column">
                    <label for="male" class="container">Male
                        <input type="radio" id="male" name="gender" value="male">
                        <span class="custom-radio-btn"></span>
                    </label>

                    <label for="female" class="container">Female
                        <input type="radio" id="female" name="gender" value="female">
                        <span class="custom-radio-btn"></span>
                    </label>

                    <label for="other" class="container">Other
                        <input type="radio" id="other" name="gender" value="other">
                        <span class="custom-radio-btn"></span>
                    </label>
                </div>
                <h2>How old are you?</h2>
                <label for="age">Age
                    <input type="number" min="18" max="40" id="age" name="age" value="age">
                </label>
            </fieldset>

            <fieldset class="register-4">
                <legend>We would like to know a bit more about you</legend>
                <h2>What's your sexuality?</h2>
                <div class="grid-column">
                    <label for="straight" class="container">Straight
                        <input type="radio" id="straight" name="sexuality" value="sexuality">
                        <span class="custom-radio-btn"></span>
                    </label>

                    <label for="gay" class="container">Gay
                        <input type="radio" id="gay" name="sexuality" value="gay">
                        <span class="custom-radio-btn"></span>
                    </label>

                    <label for="bi" class="container">Bisexual
                        <input type="radio" id="bi" name="sexuality" value="bi">
                        <span class="custom-radio-btn"></span>
                    </label>

                    <label for="other-sexuality" class="container">Other
                        <input type="radio" id="other-sexuality" name="sexuality" value="other-sexuality">
                        <span class="custom-radio-btn"></span>
                    </label>
                </div>

                <h2>What genre do you like to watch?</h2>
                <div class="grid-column">
                    <label for="action" class="container">Action
                        <input type="checkbox" id="action" name="movies" value="action">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="comedy" class="container">Comedy
                        <input type="checkbox" id="comedy" name="movies" value="comedy">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="horror" class="container">Horror
                        <input type="checkbox" id="horror" name="movies" value="horror">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="fantasy" class="container">Fantasy
                        <input type="checkbox" id="fantasy" name="movies" value="fantasy">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="thriller" class="container">Thriller
                        <input type="checkbox" id="thriller" name="movies" value="thriller">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="romantic" class="container">Romantic
                        <input type="checkbox" id="romantic" name="movies" value="romantic">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="drama" class="container">Drama
                        <input type="checkbox" id="drama" name="movies" value="drama">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="docu" class="container">Docu
                        <input type="checkbox" id="docu" name="movies" value="docu">
                        <span class="custom-checkbox"></span>
                    </label>
                </div>
                <h2>What do you like to listen to?</h2>
                <div class="grid-column">
                    <label for="pop" class="container">Pop
                        <input type="checkbox" id="pop" name="music" value="pop">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="hiphop" class="container">Hip hop
                        <input type="checkbox" id="hiphop" name="music" value="hiphop">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="rock" class="container">Rock
                        <input type="checkbox" id="rock" name="music" value="rock">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="dance" class="container">Dance
                        <input type="checkbox" id="dance" name="music" value="dance">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="rap" class="container">Rap
                        <input type="checkbox" id="rap" name="music" value="rap">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="jazz" class="container">Jazz
                        <input type="checkbox" id="jazz" name="music" value="jazz">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="metal" class="container">Metal
                        <input type="checkbox" id="metal" name="music" value="metal">
                        <span class="custom-checkbox"></span>
                    </label>
                    <label for="classic" class="container">Classic
                        <input type="checkbox" id="classic" name="music" value="classic">
                        <span class="custom-checkbox"></span>
                    </label>
                </div>
            </fieldset>

            <fieldset class="register-5">
                <legend>Upload some cute pictures of you</legend>
                <label for="file-upload">
                    <input type="file" class="custom-file-input" name="uploadImage">
                </label>
                <input type="submit">
            </fieldset>
        </form>
    </main>
    <div class="next-btn"></div> -->
</body>

</html>