<!doctype html>

<html lang="en">

<head>
    <%- include('./components/head') %>
    <title>Register</title>
</head>

<body class="register">

    <header>

        <img class="logo" src="../static/images/logo.png" alt="logo luvely">

    </header>

    <main>
        <div>
            <h1 class="title">Register</h1>
            <p class="sidetitle"><a href="/login">Login</a></p>
        </div>

        <form method="POST" action="/register" enctype="multipart/form-data">

            <label for="firstname">First name:</label>
            <input type="text" name="firstname" id="firstname" required>

            <label for="lastname">Last name: </label>
            <input type="text" name="lastname" id="lastname" required>

            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Wachtwoord: </label>
            <input type="password" name="password" id="password" required>

            <label for="age">Age: </label>
            <input class="age" type="text" name="age" id="age" required>

            <label for="hair">Hair color: </label>
            <input class="hair" type="text" name="hair" id="hair" required>

            <p class="labeltitle">Gender:</p>

            <div>
                <input class='radio' type="radio" id="man" name="gender" value="man">
                <label for="man" class="label">Man</label>

                <input class='radio' type="radio" id="woman" name="gender" value="woman">
                <label for="woman" class="label">Woman</label>

                <input class='radio' type="radio" id="other" name="gender" value="other">
                <label for="other" class="label">Other</label>
            </div>

            <p class="labeltitle">Sexuality:</p>

            <div>
                <input class='radio' type="radio" id="straight" name="sexuality" value="straight">
                <label for="straight" class="label">Straight</label>

                <input class='radio' type="radio" id="gay" name="sexuality" value="gay">
                <label for="gay" class="label">Gay</label>

                <input class='radio' type="radio" id="bi" name="sexuality" value="bi">
                <label for="bi" class="label">Bisexual</label>
            </div>
            <label for="file">
                <input type="file" name="myImage" accept="image/*">
            </label>
            <img src="../static/images/footer.knop.png" alt="Footer knop">
            <input class='registerbutton' type="submit" value="register">
        </form>

        <img class="pijltjerechts" src="../static/images/pijltjerechts.png" alt="">
    </main>
</body>

</html>