/* Setting standards */

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    background-color: #2945A0;
}

a {
    text-decoration: none;
    color: #FFFFFD;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    width: 50px;
    margin-top: 10px;
}

.title {
    color: #FFFFFD;
    margin: 70px 0 0 30px;
    font-size: 38px;
}

.sidetitle {
    color: #FFFFFD;
    margin: 90px 0 0 40px;
    text-decoration: underline;
}

.normalmain{
    background-color: #FFFFFD;
    border-radius: 30px 30px 0px 0px;
    min-height: 50rem;
}
.form{
    padding: 1.5rem 1.2rem 0rem 1.2rem;
}


/* Begin pagina */

.homeSecond{
    background-image: url(../static/images/home.background.png);
    background-size: cover;
}

.homeSecond h1 {
    color: #FFFFFD;
    width: 240px;
    position: absolute;
    right: 20px;
    bottom: 170px;
    font-size: 36px;
}

.homeSecond h1 span {
    font-size: 62px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
    z-index: -1;
}

footer a p {
    font-size: 28px;
    margin: 0 50px 35px 0;
    color: #FFFFFD;
    z-index: 1;
}

.pijltjerechts {
    width: 15px;
    z-index: 1;
    margin: 0 30px 38px 0;
}

/* Login pagina */

.login {
    background-color: #2945A0;
}

.login header {
    text-align: center;
}

.login main div {
    display: flex;
}

.login main form {
    display: flex;
    flex-direction: column;
    margin: 50px 30px 10px;
}

.login main form label {
    margin: 25px 0 5px;
    color: #53D0EC;
    font-weight: bold;
}

.login main form input {
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 8px;
}


.login main form img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
}

.loginbutton {
    position: absolute;
    width: 180px;
    bottom: 0px;
    right: 0;
    padding: 25px 0 35px;
    margin-bottom: 35px;
    background: none;
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: 1px;
    color: #FFFFFD;
}

.login main .pijltjerechts {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    z-index: 1;
    margin: 0 30px 38px 0;
}

/* Register pagina */

.register {
    background-color: #2945A0;
}

.register header {
    text-align: center;
}

.register main div {
    display: flex;
}

.register main form {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 10px 30px;
}

.register main form > label {
    margin: 25px 0 5px;
    color: #53D0EC;
    font-weight: bold;
}

.register main form > input {
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

#firstname, #lastname {
    margin-right: 100px;
}

.register main > form div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.labeltitle {
    margin: 25px 0 5px;
    color: #53D0EC;
    font-weight: bold;
}

.label{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    color: #FFFFFD ;
    background-color: #53D0EC;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    width: 130px;
    text-align: center;
    margin-top: 12px; 
}

.radio{
    opacity: 0;
    width: 0;
    height: 0;
}

.radio:checked + label{
    border: 1px solid #2945A0;
    background-color: #11A3CB;
}

.age {
    width: 60px;
}

.hair {
    width: 200px;
}

.register > main form img {
    position: absolute;
    bottom: -350px;
    right: 0;
    width: 170px;
}

.registerbutton {
    position: absolute;
    width: 175px;
    bottom: -350px;
    right: 0;
    padding: 25px 0 35px;
    margin-bottom: 35px;
    background: none;
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: 1px;
    color: #FFFFFD;
}

.register main .pijltjerechts {
    position: absolute;
    bottom: -350px;
    right: 0;
    width: 15px;
    z-index: 1;
    margin: 0 15px 38px 0;
}

/* CSS FOR PROFILE */

.profileinfo{
    width: 9rem;
    font-family: 'Montserrat';
    color: #2945A0;
}
.profileinfo ul{
    margin-top: 2rem;
}
.profileinfo ul li{
    list-style-type: none;
    font-size: 0.8rem;
}

#profileimg{
    width: 10rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 14px;
}

#profile{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.profilelabel{
    font-family: 'Montserrat';
    color: #53D0EC;
    font-size: 1.3rem;
    display: block;
}

.profileinput{
    margin: 1rem 0rem 2.5rem 0rem;
    border: none;
    font-family: 'Montserrat';
    background-color: #F4F4F4;
    border-radius: 10px;
    height: 2rem;
    width: 15rem;
    padding-left: 1rem;
    display: block;
}
.profileinput::placeholder{
    font-family: 'Montserrat';
}

.profilelegend{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    color:  #2945A0;
    margin-bottom: 2rem;
}

.profilefieldset{
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 1rem 0rem;
}

.link{
    display: flex;
    justify-content: space-between;
}

.buttonindex{
    font-family: 'Montserrat';
    background-color: #53D0EC;
    color: #FFFFFD;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
}



/* CSS FOR RESULTS */

.results header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#filterbutton{
    top: 1rem;
    left: 1.5rem;
    position: absolute;
    width: 1.5rem;
}

#logo{
    width: 3rem;
    display: block;
    margin: auto;
    padding: 0.5rem 0rem 1rem 0rem;
}

#profilebutton{
    top: 1rem;
    right: 1.5rem;
    position: absolute;
    width: 1.5rem;
}

.maininhoud{
    padding: 1.5rem 1.2rem 0rem 1.2rem;
}

h1{
    font-family: 'Montserrat';
    color:  #2945A0;
    font-size: 1.9rem;
}

.person{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0rem 0rem;
}

#personimage{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 14px;
    position: relative;
    top: 0rem;
    left: 0rem;
}

.info{
    color: #2945A0;
    margin-right: 4.5rem;
}

.info h2{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.info section{
    font-size: 0.8rem;
}

#visitedbutton{
    width: 2.5rem;
    padding: 0rem 1rem 0.2rem 0rem;
}

#likedbutton{
    width: 2rem;
}

.likedbybutton{
    width: 3rem;
    position: relative;
    left: 6rem ;
    top: -2rem;
}

.test{
    width: 5rem;
}

.titleoptions{
    display: flex;
    justify-content: space-between;
}