/* Setting standards */

* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #FFFFFD;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    width: 50px;
    margin-top: 10px;
}

.title {
    color: #FFFFFD;
    margin: 70px 0 0 30px;
    font-size: 38px;
}

.sidetitle {
    color: #FFFFFD;
    margin: 90px 0 0 40px;
    text-decoration: underline;
}

/* Begin pagina */

.homeSecond{
    background-image: url(../static/images/home.background.png);
    background-size: cover;
}

.homeSecond h1 {
    color: #FFFFFD;
    width: 240px;
    position: absolute;
    right: 20px;
    bottom: 170px;
    font-size: 36px;
}

.homeSecond h1 span {
    font-size: 62px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
    z-index: -1;
}

footer a p {
    font-size: 28px;
    margin: 0 50px 35px 0;
    color: #FFFFFD;
    z-index: 1;
}

.pijltjerechts {
    width: 15px;
    z-index: 1;
    margin: 0 30px 38px 0;
}

/* Login pagina */

.login {
    background-color: #2945A0;
}

.login header {
    text-align: center;
}

.login main div {
    display: flex;
}

.login main form {
    display: flex;
    flex-direction: column;
    margin: 50px 30px 10px;
}

.login main form label {
    margin: 25px 0 5px;
}

.login main form input {
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

.login main form label {
    color: #53D0EC;
    font-weight: bold;
}

.login main form img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
}

.loginbutton {
    position: absolute;
    width: 180px;
    bottom: 0px;
    right: 0;
    padding: 25px 0 35px;
    margin-bottom: 35px;
    background: none;
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: 1px;
    color: #FFFFFD;
}

.login main .pijltjerechts {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    z-index: 1;
    margin: 0 30px 38px 0;
}

/* Register pagina */

.register {
    background-color: #2945A0;
}

.register header {
    text-align: center;
}

.register main div {
    display: flex;
}

.register main form {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 10px 30px;
}

.register main form > label {
    margin: 25px 0 5px;
    color: #53D0EC;
    font-weight: bold;
}

.register main form > input {
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

#firstname, #lastname {
    margin-right: 100px;
}

.register main > form div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.labeltitle {
    margin: 25px 0 5px;
    color: #53D0EC;
    font-weight: bold;
}

.label{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    color: #FFFFFD ;
    background-color: #53D0EC;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    width: 130px;
    text-align: center;
    margin-top: 12px;
    box-shadow: 3px 3px 6px navy;  
}

.radio{
    opacity: 0;
    width: 0;
    height: 0;
}

.radio:checked + label{
    border: 1px solid #2945A0;
    background-color: #11A3CB;
}

.age {
    width: 60px;
}

.hair {
    width: 200px;
}

.register > main form img {
    position: absolute;
    bottom: -350px;
    right: 0;
    width: 170px;
}

.registerbutton {
    position: absolute;
    width: 175px;
    bottom: -350px;
    right: 0;
    padding: 25px 0 35px;
    margin-bottom: 35px;
    background: none;
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: 1px;
    color: #FFFFFD;
}

.register main .pijltjerechts {
    position: absolute;
    bottom: -350px;
    right: 0;
    width: 15px;
    z-index: 1;
    margin: 0 15px 38px 0;
}